<p>There are <%= @users.count %> users signed up here.</p>
<div class="container">

<%= form_tag('/users/admin', method: 'post') do %>
<%= label_tag(:username, "User Name")%>
<%= text_field_tag(:username)%>
<%= submit_tag('Save/Remove Admin')%>
<% end %>

  
  <% @users.each do |user| %>

  <div id="<%= user.username %>" class="admin col-sm-2" data-id="<%= user.id %>">
    <h4><%= user.full_name %></h4>
    <p><strong>Username: </strong> <%= user.username %></p>
    <p><strong>User Email: </strong><%= user.email %></p>
     <hr>
    </div>
  <% end %>
  
</div>
