<div>
	<h1>Welcome <%= @user.full_name %></h1>
	<p><%= @user.email %></p>
	<p class="small text-muted">Joined <%= time_ago_in_words(@user.created_at) %> ago</p>
</div>
<h2>My Team</h2>
	<div id='my_team' class="container">
		<div class='row'>
			<% @team.each do |pokemon| %>
				<div class='col-sm-2'>
					<%= link_to image_tag(pokemon.event.image, size: "100"), pokemon_path(current_user, pokemon) %><br>
						<p><%= pokemon.event.name %></p>

				</div>
			<% end %>
			<% @empty.times do |n| %>
				<div class='col-sm-2'>
					<%= image_tag "", size: "100"%><br>
						<p>Empty</p>
				</div>
			<% end %>
		</div>
	</div>

	<h3>My Back Pack</h3>
	<div id="my_backpack"class="container">
		<% @user.pokemons.each do |pokemon| %>
			<% if !pokemon.team_position %>
				<div class='col-md-2'>
					<%= link_to image_tag(pokemon.event.image, size: "100"), pokemon_path(current_user, pokemon) %><br>
						<p><%= pokemon.event.name %></p>

				</div>
			<% end %>
		<%end%>
	</div>

	<div>
		<%= link_to "Edit Team", edit_user_path(current_user), class: "btn btn-success" %>
	</div>
