<div>
	Welcome <%= @user.full_name %>
</div>
<h2>My Team</h2>
	<div id='my_team' class="container">

		<div class='row'>
			<% @team.each do |pokemon| %>
				<div class='col-sm-2'>
					<%= image_tag pokemon.event.image, size: "100"%><br>
						<p><%= pokemon.event.name %></p>

				</div>
			<% end %>

			<% @empty.times do |n| %>
				<div class='col-sm-2'>
					<%= image_tag "", size: "100"%><br>
						<p>Empty</p>
				</div>
			<% end %>
			
		</div>
	</div>
	<h3>My Back Pack</h3>
	<div id="my_backpack"class="container">
		<% @pokemons.each do |pokemon| %>
			<% if !pokemon.team_position %>
				<div class='col-md-2'>
					<%= image_tag pokemon.event.image, size: "100"%><br>
						<p><%= pokemon.event.name %></p>

				</div>
			<% end %>
		<%end%>


	</div>