<div class='events'>
	<div class="col-md-5 col-md-offset-1">
		<h2>Event:</h2>

		<%= image_tag '/images/pokeball.jpg', size: "100"%><br>

		<p><strong>Coords: </strong><%= @event.coords %></p>
		<p><strong>Description: </strong><%= @event.description %></p>

		<%= link_to "Back", events_path %>

	</div>
	

		<div class='map-container col-md-5' style="height:450px; width:450px;">
			<div id="map"></div>
			<div class="event_coords" data-coords="<%= @event.coords %>"></div>
		</div>

</div>