<h3>Event:</h3>
<h3><%= @event.name%></h3>

<%= image_tag @event.image, size: "100"%><br>

<p>Type: <%= @event.category %></p>
<p>Coords: <%= @event.coords %></p>
<p>
  Level Range:
  <%= @event.level_mid - @event.level_range%> to
  <%= @event.level_mid + @event.level_range%>
</p>

<%= link_to "Edit", edit_event_path %>
<%= link_to "Back", events_path %>
