<div class='events'>
	<h3>Event:</h3>
	<!-- QR code -->
	<%= image_tag "https://api.qrserver.com/v1/create-qr-code/?data=http%3A//cachemon.herokuapp.com/catch/#{@event.hash_data}&amp;size=200x200" %><br>
	<hr>
		
	<!-- event (pokemon) -->
	<div class="col-md-5 col-md-offset-1">
		<h2><%= @event.name%></h2>

		<%= image_tag @event.image %><br>

		<p><strong>Type: </strong><%= @event.category %></p>
		<p><strong>Coords: </strong><%= @event.coords %></p>
		<p>
		  <strong>Level Range:</strong>
		  <%= @event.level_min %> to
		  <%= @event.level_max %>
		</p>

		<%= link_to "Edit", edit_event_path %> | 
		<%= link_to "Back", events_path %>
	</div>
	
		<!-- google map -->
		<div class='map-container col-md-5' style="height:450px; width:450px;">
			<div id="map"></div>
			<div class="event_coords" data-coords="<%= @event.coords %>"></div>
		</div>

</div>
