
<div class='events'>
	<h3>Event:</h3>
	<%= image_tag "https://api.qrserver.com/v1/create-qr-code/?data=http%3A//cachemon.herokuapp.com/catch/#{@event.hash_data}&amp;size=200x200" %><br>
	<!-- 'https://api.qrserver.com/v1/create-qr-code/?data=http%3A//****OUR_SITE_NAME****.herokuapp.com/catch/"#{@event.hash_data}&amp' -->
	<hr />
	<h2><%= @event.name%></h2>

	<%= image_tag @event.image, size: "100"%><br>

	<p><strong>Type: </strong><%= @event.category %></p>
	<p><strong>Coords: </strong><%= @event.coords %></p>
	<p>
	  <strong>Level Range:</strong>
	  <%= @event.level_min %> to
	  <%= @event.level_max %>
	</p>

	<%= link_to "Edit", edit_event_path %>
	<%= link_to "Back", events_path %>
</div>
