<h3>Event:</h3>
<%= image_tag 'https://api.qrserver.com/v1/create-qr-code/?data=http%3A//localhost:3000/catch/"#{@event.hash_data}&amp;size=200x200'%><br>
<!-- 'https://api.qrserver.com/v1/create-qr-code/?data=http%3A//****OUR_SITE_NAME****.herokuapp.com/catch/"#{@event.hash_data}&amp' -->
<h3><%= @event.name%></h3>

<%= image_tag @event.image, size: "100"%><br>

<p>Type: <%= @event.category %></p>
<p>Coords: <%= @event.coords %></p>
<p>
  Level Range:
  <%= @event.level_min %> to
  <%= @event.level_max %>
</p>

<%= link_to "Edit", edit_event_path %>
<%= link_to "Back", events_path %>
